/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap");

body {
    overflow: hidden;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin: 0; /* Safari'de margin sorunu için */
}

.modal {
    background: #ffffff;
    width: 100%;
    margin-top: 5%;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.paymentother {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr; /* 50% 50% yerine 1fr 1fr */
    gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
}

.paymentother button {
    height: 55px;
    background: #f2f2f2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Safari uyumu için */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.paymentother button svg {
    height: 18px;
}

.paymentother button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 10px 1fr 10px 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    color: #000;
    margin: 0 10px;
}

.separator p {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
}

.text-center {
    text-align: center;
    font-weight: bold;
}

.input_container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 15px 2fr;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 14px;
    color: #8b8e98;
    /* font-weight: 600; */
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    -o-transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    font-size: 18px;
    -webkit-appearance: none; /* Safari uyumlu */
}

.input_field:focus {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #242424;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout {
    position: fixed;
    bottom: calc(
        20px + var(--safe-area-inset-bottom, 0px)
    ); /* Klavye açıkken uyumlu konum */
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: #302b63;
    color: ghostwhite;
    overflow: hidden;
    width: 80%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /* Safari için ön ek */
    transition: bottom 0.3s ease; /* Yumuşak geçiş efekti */
}

.checkout span {
    position: relative;
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.checkout::before,
.checkout::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Safari uyumluluğu için eklenebilir */
}

.checkout::before {
    content: "";
    background: #000;
    width: 120%;
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transform: skew(30deg); /* Safari için ön ek */
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
    -o-transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1),
        -webkit-transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1); /* Safari için ön ek */
}

.checkout:hover::before {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0); /* Safari için ön ek */
}

.page {
    display: none;
    width: 100%;
}

.page.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.error_message {
    font-size: 12px;
    color: #852124;
}

.lds-ring,
.lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading_block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
}

.error-info-card {
    font-size: 14px;
    text-align: center;
    color: red;
}
